PORT=3000
NODE_ENV=development

DATABASE_URL=postgresql://habit_tracker:habit_tracker@localhost:5435/habit_tracker?schema=public
SHADOW_DATABASE_URL=postgresql://habit_tracker:habit_tracker@localhost:5435/habit_tracker_shadow?schema=public
